.theme-dark {
  --background-primary: #000000;
  --background-primary-alt: #000000;
  --background-secondary: #000000;
  --background-secondary-alt: #000000;
  --background-modifier-border: #333;
  --text-accent-hover: #D08770;
  --link-external-color: #D08770;
  --link-external-decoration: none;
  --link-color: #D08770;
  --link-decoration: none;
}