--lt-color-gray-100: #f8f9fc;
--lt-color-gray-200: #f1f3f9;
--lt-color-gray-300: #dee3ed;
--lt-color-gray-400: #c2c9d6;
--lt-color-gray-500: #8f96a3;
--lt-color-gray-600: #5e636e;
--lt-color-gray-700: #2f3237;
--lt-color-gray-800: #1d1e20;
--lt-color-gray-900: #111213;
--lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16),
0 1px 4px -1px rgba(0, 0, 0, 0.04);
--lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1),
0 6px 20px -3px rgba(0, 0, 0, 0.2);
--lt-color-white: #fff !important;
--lt-color-black: #111213 !important;
--lt-color-transparent: rgba(255, 255, 255, 0) !important;
--lt-color-background-light: var(--lt-color-gray-100) !important;
--lt-color-background-default: var(--lt-color-gray-200) !important;
--lt-color-background-dark: var(--lt-color-gray-300) !important;
--lt-color-border-light: var(--lt-color-gray-200) !important;
--lt-color-border-default: var(--lt-color-gray-300) !important;
--lt-color-border-dark: var(--lt-color-gray-400) !important;
--lt-color-text-very-light: var(--lt-color-gray-500) !important;
--lt-color-text-light: var(--lt-color-gray-600) !important;
--lt-color-text-default: var(--lt-color-gray-700) !important;
--lt-color-text-dark: var(--lt-color-gray-800) !important;
--lt-color-overlay-default: #fff !important;
--lt-color-overlay-dark: #fff !important;
--lt-color-overlay-transparent: rgba(0, 0, 0, 0.1) !important;
--lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3) !important;
--cursor: default;
--text: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
"Helvetica Neue",
sans-serif;
--text-editor: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
"Helvetica Neue",
sans-serif;
--font-ui: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
"Helvetica Neue",
sans-serif;
--font-normal: 16px;
--font-small: 13px;
--font-smaller: 11px;
--font-smallest: 10px;
--font-inputs: 13px;
--font-settings: 15px;
--font-settings-small: 12px;
--normal-weight: 400;
--bold-weight: 600;
--link-weight: inherit;
--title-size: 1.1em;
--title-weight: 600;
--h1: 1.125em;
--h2: 1.05em;
--h3: 1em;
--h4: 0.90em;
--h5: 0.85em;
--h6: 0.85em;
--h1-weight: 600;
--h2-weight: 600;
--h3-weight: 500;
--h4-weight: 500;
--h5-weight: 500;
--h6-weight: 400;
--h1-variant: normal;
--h2-variant: normal;
--h3-variant: normal;
--h4-variant: small-caps;
--h5-variant: small-caps;
--h6-variant: small-caps;
--h1-style: normal;
--h2-style: normal;
--h3-style: normal;
--h4-style: normal;
--h5-style: normal;
--h6-style: normal;
--blockquote-style: normal;
--line-width: 40rem;
--line-height: 1.5;
--max-width: 88%;
--max-col-width: 18em;
--icon-muted: 0.5;
--icon-size: 18px;
--border-width: 1px;
--border-width-alt: 1px;
--folding-offset: 16px;
--nested-padding: 30px;
--list-indent: 2em;
--list-spacing: 0.075em;
--radius-s: 2px;
--radius-m: 5px;
--radius-l: 12px;
--radius-xl: 16px;
--input-height: 32px;
--header-height: 40px;
--mobile-left-sidebar-width: 280pt;
--mobile-right-sidebar-width: 240pt;
--tag-radius: 14px;
--tag-border-width: 1px;
--base-h: 0;
--base-s: 0%;
--base-d: 15%;
--accent-h: 201;
--accent-s: 17%;
--accent-d: 60%;
--red: #d04255;
--yellow: #e5b567;
--green: #a8c373;
--orange: #d5763f;
--cyan: #73bbb2;
--blue: #6c99bb;
--purple: #9e86c8;
--pink: #b05279;
--checkbox-size: 18px;
--checkbox-icon: 20px;
--checkbox-radius: 50%;
--checkbox-top: 3px;
--checkbox-left: 0;
--checkbox-margin: 0px 5px 0px -1.35em;
--cards-min-width: 180px;
--cards-max-width: 1fr;
--cards-mobile-width: 120px;
--cards-image-height: 400px;
--cards-padding: 1.2em;
--cards-image-fit: contain;
--cards-background: transparent;
--cards-border-width: 1px;
--bg-translucency-light: 0.7;
--bg-translucency-dark: 0.85;
--ios-radius: 10px;
--ios-shadow: 0 5px 100px rgba(0, 0, 0, 0.15);
--ios-muted: #8e8e93;
--ewt-traffic-light-y: 0px;
--traffic-x-space: 0px;
--default-font: '';
--font-default: 'Inter',
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Microsoft YaHei Light",
sans-serif;
--font-interface-override: '';
--font-interface-theme: '';
--font-interface: var(--font-interface-override),
var(--font-interface-theme),
var(--default-font),
var(--font-default);
--font-text-override: '';
--font-text-theme: '';
--font-text: var(--font-text-override),
var(--font-text-theme),
var(--font-interface);
--font-monospace-override: '';
--font-monospace-theme: '';
--font-monospace: var(--font-monospace-override),
var(--font-monospace-theme),
'Source Code Pro',
monospace;
--font-text-size: 16px;
--font-mermaid: var(--font-text);
--indentation-guide: var(--background-modifier-border);
--indentation-guide-active: var(--text-faint);
--layer-cover: 5;
--layer-sidedock: 10;
--layer-status-bar: 15;
--layer-popover: 30;
--layer-slides: 45;
--layer-modal: 50;
--layer-notice: 60;
--layer-menu: 65;
--layer-tooltip: 70;
--layer-dragged-item: 80;
text-rendering: optimizeLegibility;
--font-adaptive-normal: var(--font-normal);
--font-adaptive-small: var(--font-small);
--font-adaptive-smaller: var(--font-smaller);
--font-adaptive-smallest: var(--font-smallest);
--line-width-adaptive: var(--line-width);
--line-width-wide: calc(var(--line-width) + 12.5%);
--font-code: calc(var(--font-adaptive-normal) * 0.9);
--indentation-guide-adjust: 0px;
--indentation-guide-adjust-preview: 0.05em;
--background-modifier-success-rgb: 25,
115,
0;
--background-modifier-error-rgb: 61,
0,
0;
--text-muted-rgb: 153,
153,
153;
--text-error-hover: #990000;
--interactive-success: #197300;
--highlight-mix-blend-mode: lighten;
--opacity-translucency: 0.75;
--accent-l: 60%;
--base-l: 15%;
--bg1: hsl(var(--base-h), var(--base-s), var(--base-l));
--bg2: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 2%));
--bg3: hsla(var(--base-h), var(--base-s), calc(var(--base-l) + 40%), 0.12);
--ui1: hsl(var(--base-h), var(--base-s), calc(var(--base-l) + 5%));
--ui2: hsl(var(--base-h), var(--base-s), calc(var(--base-l) + 8%));
--ui3: hsl(var(--base-h), var(--base-s), calc(var(--base-l) + 20%));
--tx1: hsl(var(--base-h), calc(var(--base-s) - 10%), calc(var(--base-l) + 67%));
--tx2: hsl(var(--base-h), calc(var(--base-s) - 20%), calc(var(--base-l) + 45%));
--tx3: hsl(var(--base-h), calc(var(--base-s) - 10%), calc(var(--base-l) + 20%));
--tx4: hsl(var(--base-h), calc(var(--base-s) - 10%), calc(var(--base-l) + 50%));
--ax1: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
--ax2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 12%));
--ax3: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 12%));
--hl1: hsla(var(--accent-h), 70%, 40%, 30%);
--hl2: rgba(255, 177, 80, 0.3);
--sp1: #fff;
--mono100: white;
--mono0: black;
--h1-color: var(--text-normal);
--h2-color: var(--text-normal);
--h3-color: var(--text-normal);
--h4-color: var(--text-normal);
--h5-color: var(--text-normal);
--h6-color: var(--text-muted);
--text-normal: var(--tx1);
--text-bold: var(--tx1);
--text-italic: var(--tx1);
--text-muted: var(--tx2);
--text-faint: var(--tx3);
--title-color: var(--tx1);
--title-color-inactive: var(--tx2);
--text-code: var(--tx4);
--text-error: var(--red);
--text-blockquote: var(--tx2);
--text-accent: var(--ax1);
--text-accent-hover: var(--ax2);
--text-on-accent: white;
--text-selection: var(--hl1);
--text-highlight-bg: var(--hl2);
--background-primary: var(--bg1);
--background-primary-alt: var(--bg2);
--background-secondary: var(--bg2);
--background-secondary-alt: var(--bg1);
--background-tertiary: var(--bg3);
--background-table-rows: var(--bg2);
--background-modifier-form-field: var(--bg1);
--background-modifier-form-field-highlighted: var(--bg1);
--interactive-hover: var(--ui1);
--interactive-accent: var(--ax3);
--interactive-accent-hover: var(--ax3);
--background-modifier-accent: var(--ax3);
--background-modifier-border: var(--ui1);
--background-modifier-border-hover: var(--ui2);
--background-modifier-border-focus: var(--ui3);
--background-modifier-success: var(--green);
--background-divider: var(--ui1);
--scrollbar-bg: transparent;
--scrollbar-thumb-bg: var(--ui1);
--scrollbar-active-thumb-bg: var(--ui3);
--quote-opening-modifier: var(--ui2);
--modal-border: var(--ui2);
--icon-color: var(--tx2);
--icon-color-hover: var(--tx2);
--icon-color-active: var(--tx1);
--icon-hex: var(--mono0);
--tag-color: var(--tx2);
--tag-bg: transparent;
--tag-bg2: transparent;
--interactive-normal: var(--bg3);
--interactive-accent-rgb: 66,
66,
66;
--background-modifier-cover: hsla(var(--base-h), var(--base-s), calc(var(--base-d) - 12%), 0.8);
--text-highlight-bg-active: rgba(255, 255, 255, 0.1);
--background-modifier-error: rgba(255, 20, 20, 0.12);
--background-modifier-error-hover: rgba(255, 20, 20, 0.18);
--background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
--shadow-color: rgba(0, 0, 0, 0.3);
--btn-shadow-color: rgba(0, 0, 0, 0.2);
--progress-outline: rgba(255, 255, 255, 0.04);
--h1l: var(--ui1);
--h2l: var(--ui1);
--h3l: var(--ui1);
--h4l: var(--ui1);
--h5l: var(--ui1);
--h6l: var(--ui1);
--ios-blue: #0b84ff;
--ios-red: #ff453a;
--ios-bg-translucent: rgba(44, 44, 46, 0.85);
--ios-bg: #2c2c2e;
--ios-border: rgba(255, 255, 255, 0.15);
--node: var(--text-muted);
--node-focused: var(--text-accent);
--node-tag: var(--red);
--node-attachment: var(--yellow);
--node-unresolved: var(--text-faint);
--chart-color-1: var(--blue);
--chart-color-2: var(--red);
--chart-color-3: var(--yellow);
--chart-color-4: var(--green);
--chart-color-5: var(--orange);
--chart-color-6: var(--purple);
--chart-color-7: var(--cyan);
--chart-color-8: var(--pink);
--he-title-bar-inactive-bg: var(--background-secondary);
--he-title-bar-inactive-pinned-bg: var(--background-secondary);
--he-title-bar-active-pinned-bg: var(--background-secondary);
--he-title-bar-active-bg: var(--background-secondary);
--he-title-bar-inactive-fg: var(--text-muted);
--he-title-bar-active-fg: var(--text-normal);
--he-title-bar-font-size: 14px;
--popover-shadow: 0px 2.7px 3.1px rgba(0, 0, 0, 0.081),
0px 5.9px 8.7px rgba(0, 0, 0, 0.131),
0px 10.4px 18.1px rgba(0, 0, 0, 0.18),
0px 20px 40px rgba(0, 0, 0, 0.28);
--leaflet-buttons: var(--bg2);
--leaflet-borders: rgba(255, 255, 255, 0.1);
--indentation-guide-color: var(--background-modifier-border);
--indentation-guide-active-color: var(--background-modifier-border-hover);
--kanban-border: 0px;
--titlebar-height: 28px;
overflow-wrap: break-word;
font-family: var(--text);
-webkit-font-smoothing: subpixel-antialiased;
user-select: text;
box-sizing: border-box;
-webkit-tap-highlight-color: transparent;
margin: 15px 0;
font-variant: var(--h1-variant);
letter-spacing: -.01em;
line-height: 1.3;
font-size: var(--h1);
color: var(--h1-color);
font-weight: var(--h1-weight);
font-style: var(--h1-style);
