a {
  color: #BF616A;
  text-decoration: none;
}

.theme-dark {
  --background-primary: #000000;
  --background-primary-alt: #000000;
  --background-secondary: #000000;
  --background-secondary-alt: #000000;
  --background-modifier-border: #333;
  --text-accent-hover: #D08770;
}